body {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.cabecalho {
    background-color: rgb(20, 68, 68);
    height: 80px;
    width: 100%;
}

main {
    margin: 0 auto;
    width: 1280px;
    position: relative;
}

.logo {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1px;
    color: azure;
    width: 40%;
    float: left;
}
.redes-sociais ul li{
    margin-left: 10px;
    display: inline-block;
    float: right;
    list-style: none;
}
.redes-sociais {
    width: 50%;
    float: right;
}
.header-2 {
    background-color: rgb(255, 255, 255);
    width: 100%;
    border-bottom: 3px solid rgb(221, 223, 255);
    float: left;
}
.menu ul li {
    display: inline-block;
    color: rgb(46, 179, 255);
}
.menu ul li a{
    color: rgb(9, 117, 189);
    font-size: 22px;
    text-transform: uppercase;
}
.menu ul li a:hover{
    color: rgb(93, 9, 189);
    font-size: 22px;
    text-transform: uppercase;
}
.menu {
    margin: 0 auto;
    padding-left: 0px;
    width: 60%;
    float: left
}
.busca {
    width: 40%;
    float: right;
}
